#content{
	background-color: #f1f5f9;
}

body.customers.register #wrapper,
body.customers.register #content {
	display: block !important;
}

body.customers.register .bootstrap-select,
body.customers.register .bootstrap-select > .dropdown-toggle {
	width: 100% !important;
	max-width: 100%;
}

#report{
	overflow: auto;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length {
        position: unset;
    }

    div.dataTables_wrapper div.dataTables_filter {
    	text-align: left;
    }
}
